<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>首页</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <h1 class="logo">
                    <a href="#">上海聚宇企业管理咨询</a>
                </h1>
                <form action="" method="get">
                    <div class="search">
                        <input type="text" class="txt" /><input type="submit" value="搜索" class="btn" />
                        <div class="keyword">
                            <strong>关键字</strong>:
                            <a href="#">企业凝聚力</a>
                            <a href="#">企业文化</a>
                            <a href="#">团队管理</a>
                            <a href="#">职业素养</a>
                            <a href="#">员工激励</a>
                        </div>
                    </div>
                </form>
                <div class="nav clear">
                    <a href="#"><span>首页</span></a>
                    <a href="#"><span>公开课</span></a>
                    <a href="#"><span>企业内训</span></a>
                    <a href="#"><span>培训讲师</span></a>
                    <a href="#"><span>培训资讯</span></a>
                    <a href="#"><span>培训需求</span></a>
                    <a href="#"><span>课程搜索</span></a>
                </div>
            </div>
            <div class="content">
                <div class="row 3c">
                    <!--rc ==> row content-->
                    <div class="rc">
                        <!--l ==> left-->
                        <div class="l">
                            left content
                        </div>
                        <!--m ==> middle-->
                        <div class="m">
                            middle content
                        </div>
                        <!--r ==> right-->
                        <div class="r">
                            right content
                        </div>
                    </div>
                </div>
                <div class="row 3c">
                    <!--rt ==> row title-->
                    <div class="rt">
                        <h3>
                            <span>公开课</span>
                        </h3>   
                    </div>
                    <!--rc ==> row content-->
                    <div class="rc">
                        <!--l ==> left-->
                        <div class="l">
                            
                        </div>
                        <!--m ==> middle-->
                        <div class="m">
                            
                        </div>
                        <!--r ==> right-->
                        <div class="r">
                            
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <a href="#"><img src="" alt="" /></a>
                </div>
                <div class="row 2c">
                    <!--rc ==> row content-->
                    <div class="rc">
                        <!--l ==> left-->
                        <div class="l">
                            
                        </div>
                        <!--r ==> right-->
                        <div class="r">
                            
                        </div>
                    </div>
                </div>
                <div class="row 2c">
                    <!--rc ==> row content-->
                    <div class="rc">
                        <!--l ==> left-->
                        <div class="l">
                            
                        </div>
                        <!--r ==> right-->
                        <div class="r">
                            
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <a href="#"><img src="" alt="" /></a>
                </div>
                <div class="row 3c">
                    <!--rc ==> row content-->
                    <div class="rc">
                        <!--l ==> left-->
                        <div class="l">
                            
                        </div>
                        <!--m ==> middle-->
                        <div class="m">
                            
                        </div>
                        <!--r ==> right-->
                        <div class="r">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                
            </div>
        </div>
    </body>
</html>
