html{
    overflow-y:scroll
}
body,ul,ol,p,dl,dd,form,textarea,h2,h3,h4{
    margin:0;
}

ul,ol,input,button,td,th{
    padding:0;
}
ul,ol{
    list-style-type:none;
    list-style-position:outside;
}
a{
    text-decoration:none;
}
a img{
    border:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
    table-layout:fixed;
}
.clear{
    clear:both;
}
.clearfix{
    zoom:1
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
    height:0;
    font-size:0;
    line-height:0;
    overflow:hidden;
    visibility:hidden;
}
body{
    font:12px/1.5 Tahoma,simsun,'宋体',Helvetica,simsun,sans-serif;
    color:#222;
    background:#fff;
}
.wrapper,.header_wrap{
    width:960px;
    margin:0 auto;
}
.header{
    background:url(../img/nav_bg.png) repeat-x 0 bottom
}
.header_wrap{
    position:relative;
    zoom:1
}
.logo{
    float:left;
    width:168px;
    height:56px;
    margin:0;
    padding:12px 0;
}
.logo a{
    display:block;
    height:100%;
    text-indent:-999em;
    overflow:hidden;
    background:#eee;
}
.nav{
    height:44px;
    background:url(../img/nav_bg.png) repeat-x 0 bottom
}
.nav a,.nav a span{
    display:inline-block;
    height:31px;
    line-height:31px;
    cursor:pointer;
}
.nav a{
    padding-left:17px;
    font-size:14px;
    font-family:"微软雅黑","黑体","宋体";
    color:#fff;
    margin-top:6px;
    font-weight:bold
}
.nav a span{
    padding-right:17px;
}
.nav a.current,.nav a.current span,.nav a:hover,.nav a:hover span{
    background-image:url(../img/nav_cur_over.png);
    background-repeat:no-repeat;
}
.nav a.current,.nav a:hover{
    background-position:0 0;
    color:#c31a1a;
}
.nav a.current span,.nav a:hover span{
    background-position:right 0
}
/*
 *.nav a:hover{
 *    background-position:0 -41px;
 *    color:#c31a1a;
 *}
 *.nav a:hover span{
 *    background-position:right -41px;
 *}
 */
